---
layout: default
next_event_starts_at: 2016-11-08 18:00:00
next_event_ends_at: 2016-11-08 20:00:00
next_event_eventbrite_url: 'https://www.eventbrite.com/e/nashcocktail-tickets-28577623441'
next_event_host: TechnologyAdvice
next_event_location_map_url: 'https://www.google.com/maps/place/500+Interstate+Blvd+S,+Nashville,+TN+37210/@36.1328003,-86.758762,17z/data=!3m1!4b1!4m2!3m1!1s0x88646609ff279a6f:0xe3c6150815a94d91'
show_featured_company: true
featured_company_name: Genisys Group
featured_company_logo_path: /genisys-logo-tagline.png
featured_company_info: 'Founded in Franklin in 1997, Genisys Group’s Cloud, Security and Infrastructure practices support 500 organizations in 40 states.'
admin_internal_email: karri.bishop@technologyadvice.com
---

<div id="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <p class="editable new-face text-center"><em>Welcome to the new face of</em></p>
        <img src="/images/large-logo.svg" alt="{{ site.title }}" />
      </div>
      <div id="featured-event" class="col-sm-6 col-md-6">
        <p class="h3">Our next event will be:</p>
        {% if page.next_event_starts_at and page.next_event_starts_at > site.time %}
          <p class="h1" id="event-title">{{ page.next_event_starts_at | date: "%B %-d, %Y" }}</p>
        {% else %}
          <p class="h1" id="event-title">The 2nd Tues. of Every Month</p>
        {% endif %}
        <p>
          {{ page.next_event_starts_at | date: "%I:%M%p" | downcase }} - {{ page.next_event_ends_at | date: "%I:%M%p" | downcase }}.
          Hosted at <a href="{{ page.next_event_location_map_url }}" target="_blank">{{ page.next_event_host }}</a>
        </p>
        <a class="btn btn-primary event-register-link" target="_blank" href="{{ page.next_event_eventbrite_url }}">
          Register
        </a>
      </div>
    </div>
  </div>
</div>
<div id="about" class="dark-section content-section">
  <div class="container">
    <div class="row">
      <div id="about-nashcocktail" class="about-nashcocktail col-sm-5 col-md-5">
        <h3 class="section-header">About NashCocktail</h3>
        <div class="editable"><p>Established in July 2010, NashCocktail is a fun evening of casual networking, and free food and drinks.</p><p>Each month, marketers, developers, digital specialists, recruiters and tech-related individuals network to meet new people, employees and friends. This is a stellar community of creative and supportive individuals who have a passion for their profession.</p><p>NashCocktail is held on the second Tuesday of the month from 6 - 8 pm at TechnologyAdvice. <a target="_blank" href="http://nashcocktail.us1.list-manage1.com/subscribe?u=db147c4c2fe2baef2af232aa9&amp;id=2bd4266397">Sign up here</a> for updates and important announcements.</p></div>
        <a class="btn btn-primary event-register-link" target="_blank" href="http://www.eventbrite.com/o/technologyadvice-8632648480">
          Register
        </a>
      </div>
      <div class="col-sm-2 col-md-2">
      </div>
      <div id="featured-company" class="featured-company col-sm-5 col-md-5">
        <h3 class="section-header text-right">Featured Company</h3>
        {% if page.show_featured_company %}
          <img id="featured-company-logo" src="{{ page.featured_company_logo_path }}" alt="{{ page.featured_company_name }}" />
          <div id="about-featured-company">
            <p>{{ page.featured_company_info }}</p>
            <p><a href="mailto:{{ page.admin_internal_email }}">Contact Us</a> for information about being a Featured Company.</p>
          </div>
        {% else %}
          <img id="featured-company-logo" src="/images/technologyadvice-logo-light.png" alt="TechnologyAdvice" />
          <div class="editable" id="about-featured-company">
            <p>TechnologyAdvice is dedicated to educating, advising, and connecting buyers and sellers of business technology. As a trusted resource in a variety of technology verticals, the company is committed to helping buyers improve and grow their businesses.</p>
            <p>TechnologyAdvice is based in Nashville, Tenn., and was named to the Inc. 5000 list of America's Fastest-Growing Private Companies in 2014.</p>
          </div>
        {% endif %}
      </div>
    </div>
    <img class="cocktail-glass" src="/images/about-cocktail-bg.png" alt="About" />
  </div>
</div>
<div id="drink-sponsor" class="small-content-section blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 drink-title">
        <h3 class="small-section-header">Drink Sponsor</h3>
      </div>
      <div id="drink-sponsor-info" class="col-md-9">
        <div id="drink-sponsor-left">
          <img id="featured-drink-logo" src="/images/drink-icon-white.png" alt="A cocktail glass" />
        </div>
        <div id="drink-sponsor-right">
          <h3 id="drink-sponsor-name">Become a Sponsor</h3>
          <div class="editable" id="about-drink-sponsor">
            <p>Interested in being a drink sponsor? Check out the sponsorship information below!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="become-a-sponsor" class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10">
        <h3 class="section-header">Become a NashCocktail Featured Company</h3>
        <div class="editable">
          <p>As a featured company of NashCocktail, your business will show support for Nashville's technology community. Your company will be recognized by a number of Nashville's finest marketers, developers, digital specialists, recruiters and tech-related individuals.</p>
          <p>Why wouldn't you want to have your brand front and center in front of amazing local influencers?</p>
          <p>We are currently recruiting new (and returning) companies to partner with us. Discover the benefits and opportunities now.</p>
        </div>
        <a class="btn btn-primary" href="{{ site.url }}/sponsor">Let's Partner</a>
      </div>
    </div>
  </div>
</div>
