<header class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <svg width="30" height="30">
          <image xlink:href="../assets/images/header-logo.svg" width="30" height="30" />
        </svg>
      </a>
    </div>
    <nav id="main-nav">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="header-link">About</a></li>
        <li class="seperator">\</li>
        <li><a href="#become-a-sponsor" class="header-link">Become a Sponsor</a></li>
        <li class="social-nav-item"><a href="https://www.facebook.com/nashcocktail" target="_blank" class="social-link"><i class="fa fa-facebook-square"></i></a></li>
        <li class="social-nav-item"><a href="https://twitter.com/nashcocktail" target="_blank" class="social-link"><i class="fa fa-twitter-square"></i></a></li>
        <li class="social-nav-item"><a href="https://www.linkedin.com/groups/8474059" target="_blank" class="social-link"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
