{% include base_path.html %}

<header class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="//nashcocktail.com">
        <svg width="30" height="30">
          <image xlink:href="/images/header-logo.svg" width="30" height="30" />
        </svg>
      </a>
    </div>
    <nav id="main-nav">
      <ul class="nav navbar-nav navbar-right">
        <li class="header-link">
          <a href="/sponsor" >Become a Sponsor</a>
        </li>
        {% if site.facebook.username %}
          <li class="social-nav-item">
            <a href="https://www.facebook.com/{{ site.facebook.username }}" target="_blank" class="social-link">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
        {% endif %}
        {% if site.twitter.username %}
          <li class="social-nav-item">
            <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" class="social-link">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
        {% endif %}
        {% if site.linkedin.group_id %}
          <li class="social-nav-item">
            <a href="https://www.linkedin.com/groups/8474059" target="_blank" class="social-link">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        {% endif %}
        {% if site.instagram.username %}
          <li class="social-nav-item">
            <a href="https://www.instagram.com/{{ site.instagram.username }}" target="_blank" class="social-link">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
