<header class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}">
        <svg width="30" height="30">
          <image xlink:href="/images/header-logo.svg" width="30" height="30" />
        </svg>
      </a>
    </div>
    <nav id="main-nav">
      <ul class="nav navbar-nav navbar-right">
        {% for link in site.data.navigation.main %}
          <li>
            <a href="{{ site.url }}{{ link.url }}" class="header-link">{{ link.title }}</a>
          </li>
        {% endfor %}
        <li class="social-nav-item">
          <a href="https://www.facebook.com/nashcocktail" target="_blank" class="social-link">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="social-nav-item">
          <a href="https://twitter.com/nashcocktail" target="_blank" class="social-link">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
        <li class="social-nav-item">
          <a href="https://www.linkedin.com/groups/8474059" target="_blank" class="social-link">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
