// Home page

body {
  background-color: $siteBGColor;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

#overall {
  position: relative;
  width: 100%;
}

.blue-section {
  background-color: $blue;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p, ul {
    color: $fontLight;
  }
  .container {
    position: relative;
  }
}

.dark-section {
  background-color: $darkSection;
  position: relative;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p, ul {
    color: $fontLight;
  }
  .container {
    position: relative;
  }
}

.content-section {
  padding: $contentSectionPadding;
}

.small-content-section {
  padding: $smallContentSectionPadding;
}

.section-header {
  border-bottom: 1px solid $blue;
  padding: $sectionHeaderPadding;
  margin: $sectionHeaderMargin;
  max-width: 650px;
  display: inline-block;
}

.small-section-header {
  border-bottom: 1px solid $blue;
  padding: $smallSectionHeaderPadding;
  margin: $smallSectionHeaderMargin;
  max-width: 650px;
}

.no-left-pad {
  padding-left: 0;
}

#hero-section {
  background: url(/images/hero-bg.jpg) no-repeat;
  background-size: cover;
  padding: 80px 0;
  margin-top: 51px;
  #event-title {
    font-weight: $ultraBoldFontWeight;
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.7em;
  }
  img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
  }
}

#featured-event {
  text-align: center;
}

// Become a Sponsor page
#sponsor-hero-section {
  background: url(/images/sponsor-hero-bg.jpg) no-repeat;
  background-size: cover;
  padding: 8em 0;
  margin-top: 51px;
  h3 {
    font-size: 1.7em;
  }
  .sponsor-register-link {
    margin: 0 auto;
  }
  .hero-subheader {
    margin-bottom: 1.5em;
  }
}

.page-title {
  font-weight: $ultraBoldFontWeight;
  font-size: 2em;
}

@media (min-width: $screen-sm) {
  .page-title {
    font-size: 3em;
  }
}

.sponsor-hero-text {
  text-align: center;
}

#sponsor-info-section {
  .section-header {
    margin-bottom: 0.5em;
  }
}

.description-paragraph {
  margin-bottom: 2.5em;
}

#sponsor-logo-section {
  background: url(/images/sponsor-logo-bg.jpg) no-repeat;
  background-size: cover;
  padding: 80px 0;
  display: none;
}

@media (min-width: $screen-sm) {
  #sponsor-logo-section {
    display: block;
  }
}

img.single-logo {
  width: 19%;
  margin: 0;
  display: inline-block;
  padding: 1em 2em;
  height: auto;
}

img.smaller-logo {
  padding: 1em 4em !important;
}

#sponsor-quote-section {
  padding: 80px 0;
  .sponsor-name {
    margin-top: 1.1em;
  }
}

.quote-text {
  max-width: 750px;
  margin: 0 auto;
  text-align: left;
  p {
    font-size: 1.2em;
    line-height: 1.75em;
    font-style: italic;
    margin: 0;
  }
}

.quote-company-logo {
  min-height: 70px;
  img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 1em;
  }
}

.quote-right {
  margin-top: 5em;
  border-top: 1px solid rgba(256, 256, 256, 0.35);
  padding-top: 3em;
}

@media (min-width: $screen-sm) {
  .quote-right {
    margin-top: 0em;
    border: none;
    padding-top: 0em;
  }
  .quote-text {
    text-align: center;
    p {
      padding: 0 1.75em;
    }
  }
}

//Contact form styles
#contact-section {
  padding-bottom: 90px;
}

.form-control {
  border-radius: 0px;
}

label {
  font-family: $bodyFont;
}

// TODO: Double-check breakpoint
@media (min-width: $screen-sm) {
  #hero-section {
    #event-title {
      font-size: 2.4em;
    }
    h3 {
      font-size: $fontSizeH3;
    }
    p.new-face {
      position: relative;
      right: 10px;
    }
    img {
      max-width: 400px;
    }
  }
  #featured-event {
    text-align: left;
  }
}

// TODO: Double-check breakpoint
@media (min-width: $screen-md) {
  #hero-section {
    #event-title {
      font-size: $fontSizeH1;
    }
  }
  #drink-sponsor {
    .small-section-header {
      margin-top: .7em;
    }
  }
}

// TODO: Double-check breakpoint
@media (min-width: $screen-lg) {
  #hero-section {
    p.new-face {
      right: 18px;
    }
  }
}

#become-a-sponsor {
  background: url(/images/sponsors-bg.jpg) no-repeat;
  background-size: cover;
}

.btn-primary {
  text-transform: uppercase;
  background-color: $primaryBtnColor;
  border-color: $primaryBtnBorderColor;
  border-radius: $btnBorderRadius;
  padding: $btnPadding;
  font-size: $btnFontSize;
  margin-top: 20px;
  font-family: $bodyFont;
  // .transition-properties(all 0.1s linear;);
  &:hover {
    background-color: darken($primaryBtnColor, 5%);
    border-color: darken($primaryBtnBorderColor, 7%)
  }
}

.cocktail-glass {
  display: none;
}

// TODO: Double-check breakpoint
@media (min-width: $screen-sm) {
  #about {
    padding-bottom: 200px;
  }
  .cocktail-glass {
    display: block;
    position: absolute;
    left: 153px;
    bottom: -200px;
    max-width: 444px;
    height: auto;
    opacity: 0.25;
    filter: alpha(opacity=25); /* For IE8 and earlier */
  }
}

// TODO: Double-check breakpoint
@media (min-width: $screen-md) {
  .cocktail-glass {
    left: 300px;
    max-width: 370px;
  }
}

// TODO: Double-check breakpoint
@media (min-width: $screen-lg) {
  .cocktail-glass {
    left: 400px;
  }
}

// TODO: Double-check breakpoint
@media (min-width: $screen-md) {
  #featured-event {
    margin-top: 30px;
  }
}

// About & Featured Company Positions
#featured-company {
  margin-top: 50px;
  img {
    max-width: $featuredImgMaxWidth;
    width: auto;
    max-height: $featuredImgMaxHeight;
    display: block;
    margin: 30px auto;
  }
}

@media (min-width: $screen-sm) {
  #about-nashcocktail {
    position: relative;
    top: 50px;
    .section-header {
      display: block;
    }
  }
  #featured-company {
    margin-top: 0;
    position: relative;
    top: 125px;
    h3 {
      position: relative;
      right: 35px;
    }
    .section-header {
      display: block;
    }
  }
}


// Drink Sponsor section
#drink-sponsor {
  .small-section-header {
    margin-top: .7em;
    border-bottom: 1px solid #ffffff;
    padding: $sectionHeaderPadding;
    margin: $sectionHeaderMargin;
  }
  #featured-drink-logo {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 6em;
    object-fit: contain;
  }
}

@media (min-width: $screen-md) {
  #drink-sponsor {
    .small-section-header {
      border-bottom: none;
      margin: 1em 0 0;
    }
    #drink-sponsor-left {
      width: 18%;
      float: left;
      margin-right: 2em;
    }
    #drink-sponsor-right {
      width: 75%;
      float: left;
      h3 {
        margin-top: 0em;
      }
    }
  }
}
