footer {
  width: 100%;
}
#footer-nav-links {
  a {
    font-family: @bodyFont;
    text-transform: uppercase;
    color: @fontLight;
    .transition-properties(color 0.1s linear;);
    &:hover {
      color: @blue;
    }
  }
  a.social-link {
    font-size: @footerIconFontSize;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

footer {
  .navbar-nav {
    li.seperator {
      display: none;
    }
    li.social-links,
    li.connect {
      display: inline-block;
    }
  }
}

@media (min-width: @screen-sm-min) {
  footer {
    .navbar-nav {
      li.seperator {
        display: block;
      }
      a.social-link {
        padding-left: 10px;
        padding-right: 10px;
        font-size: @iconFontSize;
      }
    }
  }
}
