footer {
  width: 100%;
}
#footer-nav-links {
  a {
    font-family: @bodyFont;
    text-transform: uppercase;
    color: @fontLight;
    .transition-properties(color 0.1s linear;);
    &:hover {
      color: @blue;
    }
  }
  a.social-link {
    font-size: @footerIconFontSize;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
