header.navbar {
  width: 100%;
  background-color: @headerBGColor;
  position: fixed;
  top: 0;
  margin-bottom: 0;
  .navbar-header {
    float: left;
  }
  #main-nav {
    text-transform: uppercase;
    font-weight: @boldFontWeight;
    padding-right: 10px;
    float: right;
    a {
      color: @fontDark;
      padding: 0;
      .transition-properties(color 0.1s linear;);
      &:hover {
        color: @blue;
      }
    }
    .seperator {
      color: @blue;
    }
  }
  .navbar-right {
    li {
      display: inline-block;
    }
    .social-nav-item {
      display: none;
    }
  }
}
.navbar-nav {
  li.seperator,
  li.copy {
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 20px;
  }
  a.social-link {
    padding-left: 10px;
    padding-right: 10px;
    font-size: @iconFontSize;
  }
}
.nav > li > a {
  &:hover, &:focus {
    background-color: transparent;
    outline: none;
  }
}

.navbar-brand {
  padding: @navbarBrandPadding;
}

@media (min-width: @screen-sm-min) {
  .navbar-nav {
    li.seperator,
    li.copy {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  header.navbar {
    #main-nav {
      a {
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    .navbar-right {
      .social-nav-item {
        display: block;
      }
    }
  }
  header.navbar {
    #main-nav {
      padding-right: 0;
      a.social-link {
        padding-left: 10px;
        padding-right: 10px;
        font-size: @iconFontSize;
      }
    }
  }
}

