body {
  background-color: @siteBGColor;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

#overall {
  position: relative;
  width: 100%;
}

.dark-section {
  background-color: @darkSection;
  position: relative;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p, ul {
    color: @fontLight;
  }
  .container {
    position: relative;
  }
}

.content-section {
  padding: @contentSectionPadding;
}

.section-header {
  border-bottom: 1px solid @blue;
  padding: @sectionHeaderPadding;
  margin: @sectionHeaderMargin;
  max-width: 650px;
}

#hero-section {
  background: url(../assets/images/hero-bg.jpg) no-repeat;
  background-size: cover;
  padding: 80px 0;
  margin-top: 51px;
  #event-title {
    font-weight: @ultraBoldFontWeight;
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.7em;
  }
  img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
  }
}

@media (min-width: @screen-sm-min) {
  #hero-section {
    #event-title {
      font-size: 2.4em;
    }
    h3 {
      font-size: @fontSizeH3;
    }
    p.new-face {
      position: relative;
      right: 10px;
    }
    img {
      max-width: 400px;
    }
  }
}

@media (min-width: @screen-md-min) {
  #hero-section {
    #event-title {
      font-size: @fontSizeH1;
    }
  }
}

@media (min-width: @screen-lg-min) {
  #hero-section {
    p.new-face {
      right: 18px;
    }
  }
}

#become-a-sponsor {
  background: url(../assets/images/sponsors-bg.jpg) no-repeat;
  background-size: cover;
}

.btn-primary {
  text-transform: uppercase;
  background-color: @primaryBtnColor;
  border-color: @primaryBtnBorderColor;
  border-radius: @btnBorderRadius;
  padding: @btnPadding;
  font-size: @btnFontSize;
  margin-top: 20px;
  .transition-properties(all 0.1s linear;);
  &:hover {
    background-color: darken(@primaryBtnColor, 5%);
    border-color: darken(@primaryBtnBorderColor, 7%)
  }
}

.cocktail-glass {
  display: none;
}

@media (min-width: @screen-sm-min) {
  #about {
    padding-bottom: 200px;
  }
  .cocktail-glass {
    display: block;
    position: absolute;
    left: 153px;
    bottom: -200px;
    max-width: 444px;
    height: auto;
    opacity: 0.25;
    filter: alpha(opacity=25); /* For IE8 and earlier */
  }
}

@media (min-width: @screen-md-min) {
  .cocktail-glass {
    left: 300px;
    max-width: 370px;
  }
}

@media (min-width: @screen-lg-min) {
  .cocktail-glass {
    left: 400px;
  }
}

@media (min-width: @screen-md-min) {
  #featured-event {
    margin-top: 30px;
  }
}

// About & Featured Company Positions
#featured-company {
  margin-top: 50px;
  img {
    width: 100%;
    max-width: @featuredImgMaxWidth;
    height: auto;
    display: block;
    margin: 30px auto;
  }
}

@media (min-width: @screen-sm-min) {
  #about-nashcocktail {
    position: relative;
    top: 50px;
  }
  #featured-company {
    margin-top: 0;
    position: relative;
    top: 125px;
    h3 {
      position: relative;
      right: 35px;
    }
  }
}
